<!DOCTYPE html>
<html>
<body>

<h2>Welcome to Grocery Store</h2>

<form>
  <label for="fname">username:</label><br>
  <input type="text" id="fname" name="fname" [(ngModel)]="username"><br>
  <label for="lname">password:</label><br>
  <input type="password" id="lname" name="lname" [(ngModel)]="password"><br><br>
</form>
<button (click)="login()"> login</button>
<button (click)="singUp()"> Sing Up</button>
<br><br>
<button (click)="addProduct('Apple')"> apple</button>
<button (click)="getReceipt()"> getreceipt</button>

<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of products">

      <td>{{element.name}}</td>
      <td>{{element.type}}</td>
      <td>{{element.price}}</td>
    </tr>
  </tbody>
</table>



{{receipt}}
</body>
</html>

